@import "tailwindcss";
@import "@heroui/styles";
:root {
    --background: #1a1a1a;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-exo2: var(--font-exo2);
    --font-chivo: var(--font-chivo);
    --font-telex: var(--font-telex);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1a1a1a;
        --foreground: #ffffff;
    }
}
@theme {
    --font-sans: var(--font-exo2), ui-sans-serif, system-ui, sans-serif;

    --font-heading: var(--font-chivo), ui-sans-serif, system-ui, sans-serif;
}
body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

@theme {
    @keyframes glow {
        to {
            transform: scale(1.01);
            box-shadow: 0 0 10px 5px #afe7a6;
        }
    }
    --animate-glow: glow 1s ease infinite;
}

@theme {
    @keyframes glowElse {
        0% {
            transform: scale(1);
            box-shadow: 0 0 0 rgba(175, 231, 166, 0);
        }
        50% {
            transform: scale(1.01);
            box-shadow: 0 0 2px 2px rgba(175, 231, 166, 0.7);
        }
        100% {
            transform: scale(1);
            box-shadow: 0 0 0 rgba(175, 231, 166, 0);
        }
    }
    --animate-glowElse: glowElse 2s ease infinite;
}

@theme {
    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0%);
            /* transform: scale(1); */
        }
    }
    --animate-slideInFromLeft: slideInFromLeft 0.75s ease;
}
@theme {
    @keyframes slideInFromRight {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
            /* transform: scale(1); */
        }
    }
    --animate-slideInFromRight: slideInFromRight 0.75s ease;
}

@theme {
    @keyframes opacity {
        0% {
            /* transform: scale(25%); */
            opacity: 0%;
        }
        100% {
            /* transform: scale(100%); */
            opacity: 100%;
            /* transform: scale(1); */
        }
    }
    --animate-opacity: opacity 1.5s ease;
}
@theme {
    @keyframes fadeIn {
        0% {
            /* transform: scale(25%); */
            transform: scale(0.7);
            opacity: 0%;
        }
        100% {
            /* transform: scale(100%); */
            transform: scale(1);
            opacity: 100%;
            /* transform: scale(1); */
        }
    }
    --animate-fadeIn: fadeIn 1s linear;
}

@theme {
    @keyframes rotate {
        0% {
            /* transform: scale(25%); */
            transform: rotate(0deg);
        }

        100% {
            /* transform: scale(100%); */
            transform: rotate(360deg);

            /* transform: scale(1); */
        }
    }
    --animate-alternateRotate: rotate 5s linear infinite;
}
